*{
margin: 0 ;
padding: 0;
border: 0;
}

html{
    background-color: var(--background);
}

:root{
    --button:rgba(74, 67, 67, 1);
    --widenavbarbutton:rgba(4, 7, 11, 0.2);
    --buttontext: rgba(255,255,255,1);
    --background: rgba(40, 38, 38, 1);
    --linebreak: rgba(69, 67, 67, 0.2);
}

hr{
    background-color: var(--linebreak);
    margin:  10px 0;
    height: 2px;
}